@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
        width: 100%;
    }

    main {
        width: 60%;
        grid-gap: 16px;
        grid-template-rows: 330px 200px 200px 280px 200px;
        grid-template-areas: 
        "daniel daniel"
        "jonathan jonathan"
        "jeanette jeanette"
        "patrick patrick"
        "kira kira"
        ;
    }

    .comment {
         width: 80%;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
}